<p>Bonjour <%= @user.first_name %>,</p>

<p>Merci de ton inscription sur <a href="www.mariage-participatif.fr">www.mariage-participatif.fr</a> </p>

<p>Tu pourras y revenir suivre l'approche du mariage d'Odile et Paul,</p>
<p> Répondre à ton invitation,</p>
<p> Choisir ton logement,</p>
<p> Choisir ton service </p>
<p> ... </p>
<p>Et même publier la photo de l'entrée végétale que tu auras préparée !</p>

<p>Nous aussi, on a hâte d'y être </p>

<p>Odile et Paul</p>

<p>PS : Tu es en train d'inaugurer ce site internet.. Et sauf imprévu, il y aura des choses qui ne marcheront pas, ou qui ne seront pas assez claires..</p>

<p>Alors, n'hésite pas, si ça ne va pas, si tu trouves la coquille, la faille... ou la bonne idée : écris nous par mail.</p>

<p>Merci, de la part du developpeur & du futur marié</p>
