<p>Bonjour <%= @user.first_name %>,</p>

<p>Merci de ton inscription sur <a href="www.mariage-participatif.fr">www.mariage-participatif.fr</a> </p>

<p>Tu pourras y revenir suivre l'approche du mariage d'Odile et Paul,</p>
<p> Répondre à ton invitation,</p>
<p> Choisir ton logement,</p>
<p> Choisir ton service </p>
<p> ... </p>
<p>Et même publier la photo de l'entrée végétale que tu auras préparée !</p>

<p>Nous aussi, on a hâte d'y être </p>

<p>Odile et Paul</p>
²
