<p>Bonjour, <%= @user.first_name %>,</p>

<p>Merci de ton inscription sur mariage-participatif.fr </p>

<p>Tu pourras revenir suivre l'apporche du mariage d'Odile et Paul,</p>
<p>Répondre à ton inivitation, choisir ton logement, choisir ton service </p>
<p>Et même publier la photo de l'entrée végétale que tu auras préparé</p>

<p>Nous aussi, on a hâte</p>

<p>Odile et Paul</p>
