<div class="nested-fields">
  <div class="row">
    <div class="form-inline">
      <div class="col-xs-12 col-sm-6">
        <%= f.input :name %>
      </div>
    </div>
    <div class="form-inline">
      <div class="col-xs-6 col-sm-3">
        <%= f.input :child %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= f.input :presence %>
      </div>
    </div>
  </div>
  <%= link_to_remove_association f do %>
    <i class="fa fa-times"></i>
  <% end %>
</div>
