<div class="row">
  <div class="col-xs-12">
    <div class="tabs">
      <div class="tab">
        <% if Date.current < @wedding.deadline %>
          <h3> J - <%=  (@wedding.deadline - Date.current).to_i%> </h3>
          <p>avant la date limite</p>
        <% elsif @wedding.passed? %>
          <h3>MERCI</h3>
          <p>c'était top !</p>
        <% else %>
          <h3>date limite dépassée</h3>
          <p>RSVP</p>
        <% end %>
      </div>
      <div class="tab">
        <h3>Inscription complétée à</h3>
        <h3><%= @registry.score_registry %> % </h3>
      </div>
      <div class="tab">
        <% if (@wedding.date - Date.current) > 0 %>
          <h3> J - <%=  (@wedding.date - Date.current).to_i %></h3>
          <p>avant le mariage</p>
        <% else %>
          <h3> J + <%=  -(@wedding.date - Date.current).to_i %></h3>
          <p>depuis le mariage</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
