<h1>Salut, Paul</h1>

<p>
  une question a été posée sur mariage-participatif.fr
</p>

<p>Question posée par : <%= @question.name %></p>

<p>Adresse mail : <%= @question.email %></p>

<p> Message : <%= @question.message %>


<p>Bisou Polo !</p>
<p>Odile</p>
