//===== registry show =====//
.accomodation-email {
  margin-top: 50px;
}
.accomodation_details {
  // background-color: $green-background;
  border-left: 1px solid $p-grey;
  border-right: 1px solid $p-grey;
  border-bottom: 1px solid $p-grey;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: $p-grey;
  margin-bottom: 15px;
}

.accomodation_details th {
  border-bottom: 1px solid $p-grey;
  text-align: center;
  color: #333;
}

.accomodation_details td, .accomodation_details th {
  padding: 11px 2px;
  border: 1px dashed $p-grey;
  padding-left: 5px;
  text-align: center;
}

.accomodation_details td:nth-last-child {
  border-bottm: 0px !important;
}


.accomodation-email {
  background-color: #ddd;
  border-radius: 5px 5px 0 0;
  color: $p-grey;
}

.accomodation-email p {
  margin: 0;
  padding: 15px 10px;
}
.accomodation-link {
  display: flex;
  justify-content: center;
}
.accomodation-link a {
  color: $p-grey;
  text-decoration: none;
  padding: 0 5px;
  margin: 0;
}
.accomodation-link a:nth-child(2) {
  border-left: 1px solid $p-grey;
  border-right: 1px solid $p-grey;
}


//===== =====//

#no-margin {
  margin-bottom: 0 !important;
}

.accomodations-row {
  margin-bottom: 20px;
  font-size: 13px;

  ul {
    margin-bottom: 0;
  }
}



.accomodations-titles {
  font-size: 15px;
}




.align-left {
  text-align: left !important;
}
