.button-show {
      display: block;
      width: 100%;
    }

.links {
  padding-top: 20px;
  &.padding-down {
    padding-top: 0px !important;
    padding-bottom: 11px !important;
  }

  &.no-padding {
    padding: 0px !important;
  }
}

.links a {
  color : #726e6e !important;
  font-size: 15px;
  padding: 0 10px;
  margin: -3px;
}

.links a:hover {
  opacity: 1;
  color: #726e6e !important;
}


.links a:nth-child(n+2){
  border-left: 1px solid $p-grey;
    }



