.messages-list {
  background: #fefefe;
  padding: 15px;
  overflow: auto;
  height: 460px;
  left: 10px;
  right: 10px;


  .message.frame {
    background-color: #dce5df;
    width: 74%;
    display: flex;
    border-radius: 5px;
  }

  .message-wrapper {
    display: flex;
    padding: 15px;
  }

  .message-body {
    flex: 0 0 65%;
    margin-left: 40px;
    justify-content: center;
    align-items: center;

       p {
        margin-top: 15px;
        font-size: 15px;
    }
  }

  .message-name {
    flex: 0 0 20%;
    justify-content: center;
    p {
      margin: 10px;
      font-size: 11px;
      font-weight: 300;
    }
  }

  .message-picture {
    flex: 0 0 10%;
    justify-content: center;
    display: flex;
    align-items: center;

    .avatar {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      }
  }

  .message-wrapper.wedder {
    justify-content: flex-start;
  }

  .message-wrapper.invited {
    justify-content: flex-end;
  }

  .avatar-smaller{
    padding: 5px;
 }
}

.messages-form {

  top: 10px;
  left: 10px;
  right: 10px;
  margin-bottom: 20px;
}
