.category-container {
  display: block;
  border: 3px solid black;
  width: 800px;
  padding : 20px;
}


.button-container #tasks {
    display: inline-flex;
    justify-content: space-evenly;
    margin-left: -20px;
    width: 99%;
}
