.wedding-informations {
  display: flex;
  align-items: center;


  .spouse-photo img {
    border-radius: 50%;
  }

  .spouse-photo {
    margin-right: 20px;
  }

  .details {
    flex: 1 0 auto;
    padding: 15px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin-bottom: 5px;
    }

    li:last-child {
      margin: 0;
    }

    li.primary {
      color: #555;
    }

    li.secondary {
      color: #888;
    }

    li i {
      width: 30px;
    }
  }
}


.min-height-for-map {
  min-height: 500px;
}

.wedding-description {
  margin: 25px 0;
}
.wedding-description blockquote {
  font-size: 18px;
  text-align: justify;
}

.presence-block {
  margin-top: 40px;

  .button-show {
    width: 50%;
  }
}

.task-block {
  padding: 24px;
}

.weddings.show {
  .button {
    display: inline-block;
    width: auto;
  }
}

.tasks-bloc {
  margin-bottom: 15px;
  border: 1px solid #00000014 !important;
  box-shadow: 2px 2px 2px #00000005 !important;
  border-radius: 5px;
  overflow: auto;
}

.wedding-bloc {
  height: 400px;
  margin-bottom: 15px;
  border: 1px solid #00000014 !important;
  box-shadow: 2px 2px 2px #00000005 !important;
  border-radius: 5px;
  padding: 20px;
  overflow: auto;
  position: relative;
   ul {
      list-style: none;
      padding: 0;
      margin-top: 30px;
    }

    li {
      margin-bottom: 5px;
    }

}

.button-container {

    display: inline-flex;
    justify-content: space-evenly;
    margin-left: -20px;
    width: 99%;
    position: absolute;
    bottom: 25px;
}




.w3-display-container{position:relative}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.attachinary_container ul {
  text-decoration: none;
}


